* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* color:#ccc; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.logo img:hover {
    cursor: pointer;
}

header {
    height: 60px;
    background-color: rgb(0, 30, 60);
    padding: 0px 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(15, 56, 97);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
}

#navbar ul li a {
    color: #fff;
}

#navbar ul li:hover {
    background-color: rgb(16, 53, 94);
    border-radius: 10px;
    cursor: default
}


/* Navbar dropdown */
#navbar ul li {
    position: relative;
}

#navbar ul li ul {

    display: none;

}

#navbar ul li:hover ul {
    border-radius: 10px;
    display: block;
    position: absolute;
    left: 0px;
    width: 500px;
    margin-top: 0.65rem;
    background-color: rgb(0, 30, 60);
    color: #fff;
    border: 1px solid rgb(14, 56, 100);
}

#navbar ul li:hover ul li h2 {
    font-size: 1rem;

}

#navbar ul li:hover ul li p {
    font-weight: 100;
    margin-top: 0.5rem;
}

#navbar ul li:hover ul li {
    padding: 20px 30px;
    border-bottom: 1px solid rgb(16, 78, 143);

}

#navbar ul li:hover ul li:last-child {
    border-bottom: none;
}

#navbar ul li:hover ul li:hover {
    background-color: rgb(20, 42, 66);
    cursor: pointer;
}

.search-part {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-part button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 25, 41);
    border: 1px solid rgb(14, 56, 100);
    color: #ccc;
}


button i {
    padding: 0px 10px 0px 0px;
    color: rgb(40, 115, 189);

}

button span {
    border-radius: 10px;
    margin-left: 2rem;
    border: 1px solid rgb(14, 56, 76);
    padding: 5px 10px;
}

.search-part>i {
    border: 1px solid rgb(14, 56, 76);
    padding: 5px;
    border-radius: 10px;
    margin: 0px 5px;
    color: rgb(40, 115, 189);
    font-size: 1.5rem;
    background-color: rgb(10, 25, 41);

}

.search-part button:hover,
.search-part i:hover {
    background-color: rgb(0, 30, 60);
    cursor: pointer;
}

body {
    background-color: rgb(3, 35, 70);

}

/* Header End... */

/* Section One Starts */
#section-one {
    display: flex;
    /* max-width: 1200px; */

}

#section-one .text {
    padding: 1rem 3rem 1rem 4rem;
    background-color: rgb(3, 35, 70);
    color: #fff;
}

#section-one div {
    flex: 1;
}

#section-one h1 {
    font-size: 4rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin-top: 2rem;
}

#section-one h1 span {
    color: rgb(57, 142, 226);
}

#section-one p {
    padding: 0rem 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 2rem;
}

#section-one a,
#section-one button {
    border: 1px solid rgb(57, 142, 226);
    padding: 1rem;
    border-radius: 10px;
    margin: 0rem 0.8rem;
    color: #fff;
}

#section-one a {
    font-weight: bolder;
    background-color: rgb(57, 142, 226);
    transition: all 0.5s ease-in-out;
}

#section-one a:hover {
    background-color: rgb(25, 88, 151);
    color: #ddd;
}

#section-one a i {
    margin-left: 1rem;
    font-weight: 100;
    font-size: 0.8rem;
}

#section-one button {
    transition: all 0.5s ease-in-out;
    color: #aaa;
    background-color: rgb(25, 59, 94);
}

#section-one button:hover {
    cursor: pointer;
    background-color: rgb(38, 74, 109);
}

#section-one button i {
    color: #aaa;
    margin-left: 1rem;
}

.pics {
    background-color: rgb(0, 30, 60);
    border-bottom-left-radius: 10px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-template-rows: 2fr 1fr;
    padding: 1rem 2rem;
    overflow-x: hidden;
}

.pics div.basic {
    background-color: rgb(44, 141, 238);
    border-radius: 10px;
}

.pics div:first-child div {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics div:first-child div .img {
    width: 200px;
    height: 200px;
    padding: 1rem;
}

.pics div:first-child div .img img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}


.pics div:first-child p:first-child {
    margin: 1rem 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.pics div:first-child p span {
    font-size: 1rem;
    color: #ccc;
}

.pics div:first-child div p {
    font-weight: bolder;
    font-size: 1.2rem;
}

.pics .calender {
    border: 1px solid rgb(44, 141, 238);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translateX(33px);

}

.pics .calender img {
    border-radius: 10px;
    width: auto;
    height: 100%;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 40, 77);
    padding: 0rem 1rem;
    border-radius: 10px;

}

.play div {
    flex: 1;
}

.play div img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.play div div p {

    padding: 10px 0px !important;
    text-align: left;
    font-size: 0.7rem;
}

.play div div i {
    border: 1px solid rgb(55, 112, 168);
    border-radius: 50%;
    padding: 10px;
    margin: -10px 2px;
    color: #ccc;
}

.play div div i:nth-child(2) {
    color: #fff
}

.play div div i:nth-child(2):hover {
    color: #fff;
    background-color: rgb(14, 51, 88);
    cursor: pointer;
}

/* Section second */
#section-second {
    max-width: 1100px;
    margin: auto;
}

.images {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-second .images div {
    flex: 1;
    margin: 0px 40px;
}

#section-second .images div img {
    width: 100%;
    height: auto;
}
#section-second .text p
{
    color: #ccc;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    line-height: 1.5;
    font-size: 0.9rem;
}
/* Section-section ends */

/* Section-third start */
#section-third
{
    background-color: rgb(10, 25, 41);
    color: #fff;

}
#section-third div
{
    max-width: 1100px;
    margin: auto;
    padding: 2rem 0rem;
}
#section-third .section-T
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#section-third .section-T div
{
    /* border: 2px solid green; */
    margin-left: 0px;
    padding: 0px 10px;
    flex: 1;
}
#section-third .section-T div div
{
    padding: 15px 10px 20px 20px;
    margin-bottom:1rem;
}
#section-third .section-T div div:nth-child(1n+3):hover
{ cursor: pointer;
    background-color: rgb(1, 28, 56);
    border-radius: 10px;
}

#section-third div div h5
{
    color:rgb(93, 157, 221) ;
    margin-bottom: 1rem;
}
#section-third div div h1
{
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
#section-third div div h1 span
{
    color: rgb(93, 157, 221);
}
#section-third div div p
{
    color: #ccc;
}
#section-third div div div h3
{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#section-third div div div p{
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
#section-third div div div a{
    font-size: 0.9rem;
    font-weight: bolder;
    color: rgb(97, 156, 216);
}
#section-third div div div i
{
    font-size: 0.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
#section-third .section-T .grand-child
{
    margin-top: 1rem;
    border: 1px solid rgb(62, 143, 224);
    background-color: rgb(14, 47, 80);
    border-radius: 10px;
    cursor: pointer;
}


#section-third .section-T .section-T-2 div
{
margin-bottom: 0px;}
#section-third .section-T .section-T-2 
{
    border-radius: 10px;
    margin-left: 1rem;
    padding: 0px;
    overflow: hidden;
}
#section-third .section-T .section-T-2 div:first-child
{
    background-color: rgb(14, 47, 80);
}
#section-third .section-T .section-T-2 div:last-child
{
    background-color: rgb(1, 31, 61);
}

/* Section-forth start */
#section-forth
{
    max-width: 1100px;
    margin: auto;
    color: #fff;
    padding: 5rem 0rem;
}
.forth-text
{
    max-width: 500px;
}
#section-forth .forth-text p
{
    font-size: 0.9rem;
    font-weight: bolder;
    color:rgb(103, 177, 252)  ;
    margin-bottom: 1rem;
}
#section-forth .forth-text h1
{
    font-size: 2rem;
}
#section-forth .forth-text h1 span{color:rgb(103, 177, 252) ;}

#section-forth .boxes
{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 1rem;
}
#section-forth .boxes div
{
    border: 1px solid rgb(15, 91, 167);
    padding: 1rem 0.5rem;
    border-radius: 10px;
    background-color:rgb(13, 49, 85) ;
}
#section-forth .boxes div h5
{
    margin: 1rem;
    font-weight: bolder;
    color: #fff;
}
#section-forth .boxes div p
{
    font-size: 0.9rem;
    color: #ccc;
    line-height: 1.4;
}
#section-forth .forth-text-2 p
{
    color:rgb(103, 177, 252) ;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 8rem;
    margin-bottom: 1rem;
}
#section-forth .forth-text-2 h1
{
    font-size: 2.5rem;
   margin-bottom: 1rem;
}
.forth-text-2
{
    max-width: 600px;
}
#section-forth .forth-text-2 h1 span
{
    color:rgb(103, 177, 252) ;
}
#section-forth > button
{
    float:right;
    background-color: rgb(3, 35, 70);
    border: none;
    padding: 5px 10px;
    margin: 0px 5px;
    color: #ccc;
    cursor: pointer;
}
#section-forth .modify
{
    border:1px solid rgb(29, 123, 218) ;
    border-radius: 10px;
    color: #fff;
    background-color:rgb(13, 78, 143) ;
}
#section-forth .hover:hover
{
    background-color: rgb(4, 46, 87) ;
    border-radius: 10px;
}
#section-forth .detail
{
    margin-top: 5rem;
    background-color:rgb(1, 20, 39)  ;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    
}
  
#section-forth .detail .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 180px;
    width: 100%;
}
#section-forth .detail .cart button
{
    display: block;
    padding: 10px 15px;
    color: #222;
    background-color:rgb(107, 171, 235) ;
    border-radius: 10px;
}
#section-forth .detail .cart button i
{
    color: #000;
}

#section-forth .detail > div button
{
 padding: 5px 10px;
 margin-left: 5px;
 margin-top: 5px;
 color: #ccc;
 background-color:rgb(1, 20, 39)  ;
 font-weight: bolder;
 border: none;
}
#section-forth .detail > div 
{
    border:1px solid rgb(2, 36, 70) ;
}
#section-forth .detail .light

{
    color: rgb(70, 138, 206) ;
    border-bottom: 2px solid rgb(70, 138, 206);
}
#section-forth .detail p
{
    color: #ccc;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.bg-black
{
    background-color: rgb(2, 14, 26) !important;
    font-size: 1rem;
    color:rgb(155, 195, 235)!important;
}
.bg-black i
{
    color:rgb(59, 131, 202)!important ;
    font-size: 1.2rem;
}
.cart input
{
    padding: 15px 10px;
    color: #fff;
    background-color:rgb(1, 20, 39);
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1.1rem;
}
.link
{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.link a
{
    color:rgb(90, 153, 216) ;
    font-weight: bolder;
}
.link a:hover
{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(1, 27, 53);
}
.table
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.table tr td,
.table tr th
{
    padding: 15px 20px;  
}
.table table 
{
    background-color: #111;
    border: 1px solid #444;
border-radius: 5px;
}

#section-forth .last
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
#section-forth .last div
{
    padding: 0rem 1rem;
    text-align: center;
}
#section-forth .last div p
{
    color: #ccc;
    font-weight: lighter;
    margin: 0.5rem 0rem;
}
#section-forth .last div a
{
    color:rgb(54, 141, 228) ;
    font-size: 0.9rem;
}
#section-forth .last div a i
{
    margin-left: 1rem;
    font-size: 0.8rem;
}
.follower
{
    background-color:rgb(20, 49, 78) ;
    color: #fff;
    padding-bottom: 1rem;
}
.follower > div
{
    max-width: 1100px;
    margin: auto;
    padding: 5rem 0rem;
}
.follower > div > div{
    display: flex;
}
.follower > div > div div
{
    flex: 1;
}
.follower i{
    border: 1px solid rgb(3, 72, 138)  ;
    padding: 12px 14px;
    border-radius:50%;
    margin-bottom: 1rem;
    color: #aaa;
    font-size: 0.9rem;
}
.follower .fa-greater-than
{
    border: 1px solid rgb(12, 125, 231)  ;
    color: #fff;
    margin-left:20px;

}
.follower .message p
{
    font-weight: bold;
    padding: 10px 10px 10px 0px;
    line-height: 1.5;
}
.follower .message h3
{
    color: rgb(12, 125, 231);
    margin-top: 1rem;
}
.follower .message h3 span
{
font-weight: lighter;
color: #999;
}

.follow-detail
{
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-left: 3rem;
}
.follow-detail div
{
    border-left: 1px solid rgb(1, 62, 119);
    padding: 5px 20px;
}
.follow-detail div h1
{
    color: rgb(96, 173, 245) ;
    margin-bottom: 0.3rem;
}
#section-fifth .section-fifth-data
{
    max-width: 1100px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
}
#section-fifth div h5
{
    color:rgb(104, 167, 226) ;
    margin-bottom: 1rem;
}
#section-fifth div h1
{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
#section-fifth div h1 span
{
    color:rgb(82, 146, 206) ;
}
#section-fifth div p
{
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #aaa;
}
#section-fifth .diamond > div,
#section-fifth .Gold > div
{
    display: flex;
}
#section-fifth .diamond
{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
#section-fifth .diamond > div,
#section-fifth .Gold > div
{
    border-radius: 10px;
    border: 1px solid rgb(72, 127, 179) ;
    padding: 10px;
    background-color:rgb(2, 46, 85) ;
    align-items: center;
}
#section-fifth .Gold > div
{
    padding: 20px 10px;
}
#section-fifth .diamond > div div,
#section-fifth .Gold > div div
{
    margin-left:15px;
}
#section-fifth .diamond div i
{
    color:rgb(82, 146, 206) ;
}
#section-fifth .diamond div h5,
#section-fifth .Gold div h5
{
    color: #fff;
    margin: 0px;
}
#section-fifth .diamond div p,
#section-fifth .Gold div p
{
    font-size: 0.9rem;
    margin-bottom: 0px;
}
#section-fifth .diamond .zesty
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#section-fifth .Gold 
{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
#section-fifth .Gold .mega{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#section-fifth .Gold .mega div img
{
   width: 100%;
}
#section-fifth .Gold .link-b i
{
    border: 1px solid rgb(72, 127, 179) ;
    padding: 10px;
    border-radius: 10px;
    color: rgb(72, 127, 179);  
}
#section-fifth .Gold .link-b
{border: 1px dashed rgb(72, 127, 179);
height: 85px;}
#section-fifth .Gold .link-b a
{
    font-size: 0.9rem;
    color: rgb(72, 127, 179) ;
}
#section-fifth .diamond > div:hover,
#section-fifth .Gold > div:hover
{
    cursor: pointer;
    box-shadow: 3px 3px 5px 5px rgb(1, 31, 56), -3px -3px 5px 5px rgb(1, 31, 56);
}
#section-fifth .Gold  .link-b:hover
{
    box-shadow: none;
    cursor: auto;
}
.gold-h
{
    color: rgb(226, 204, 77);
}